<style>
    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: rgb(207, 207, 207);
    }
    .layer {
        background-color: rgba(2, 9, 18, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: inset 0 -10px 45px -2px rgb(12, 12, 12);
    }
    .video-js {
        width: 100% !important;
        position: absolute !important;
        height: inherit !important;
        top: 0;
        bottom: 0;
    }
    #div-player {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: overlay;
    }
    #div-episodes {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.54);
        right: 0;
        border-left: thin solid rgba(0, 0, 0, 0.2);
        overflow: auto;
        padding-top: 90px;
    }
    .blue-header {
        position: absolute;
        top: 50px;
        background-color: rgba(3, 15, 25, 0.83);
        z-index: 100;
        width: 100%;
        padding: 10px;
    }
    .active {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .episode-list li a {
        text-decoration: none !important;
        height: 55px;
        overflow: hidden;
        color: white;
        cursor: pointer;
        display: block;
    }
    .episode-list li h4 {
        font-size: 15px;
        margin-left: 90px;
        margin-top: 5px;
    }
    #latest-list li:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav-tabs {
        border-bottom: none;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        background-color: rgb(3, 14, 17);
        border: thin solid rgb(1, 8, 12);
        color: rgb(221, 221, 221);
    }
    .nav-tabs > li {
        background-color: rgba(3, 10, 17, 0.16);
        color: white !important;
    }
    .nav-tabs > li > a:hover {
        background-color: rgb(3, 14, 17);
        border: thin solid rgb(1, 8, 12);
        color: rgb(221, 221, 221);
        cursor: pointer;
    }
    .nav-tabs > li > a {
        color: rgb(146, 146, 146);
    }
    .vjs-default-skin .vjs-control-bar {
        margin: 20px auto;
        border-radius: 5px;
        height: 40px;
        padding-top: 5px;
        background-color: rgb(10, 37, 49);
        max-width: 800px;
    }
    .vjs-default-skin .vjs-progress-control {
        height: 7px;
        top: -15px;
        margin-right: 40px;
    }
    .vjs-default-skin .vjs-current-time {
        position: absolute;
        top: -26px;
        right: -4px;
        color: white;
        font-weight: bold;
    }
    .vjs-default-skin .vjs-language-button:before {
        font-family: FontAwesome;
        content: "\f075";
    }
    .vjs-default-skin .vjs-subtitles-button:before {
        content: "\e008";
    }
    .vjs-default-skin .vjs-res-button:before {
        font-family: FontAwesome;
        content: "\f013";
    }
    .vjs-default-skin .vjs-list-button:before {
        font-family: FontAwesome;
        content: "\f00b";
    }
    .vjs-default-skin .vjs-next-button:before {
        font-family: FontAwesome;
        content: "\f051";
    }
    .vjs-default-skin .vjs-time-divider,
    .vjs-default-skin .vjs-duration {
        display: none;
    }
    .vjs-default-skin .vjs-name-button {
        text-align: left;
        width: auto;
        height: auto;
        font-size: 14px;
        line-height: 28px;
        margin-left: -45px;
    }
    ul li.vjs-menu-title.vjs-res-menu-title:hover {
        cursor: default;
        background-color: transparent;
        color: #CCC;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .vjs-default-skin .vjs-name-button .vjs-control-content {
        width: 450px;
        text-overflow: ellipsis;
        /* word-wrap: normal; */
        white-space: nowrap;
        overflow: hidden;
    }
    .blue-header {
        padding: 15px;
        font-size: 15px;
    }
    .div-fullscreen {
        top: 0 !important;
    }
</style>
<div style=" background-color: rgb(10, 31, 39); position: absolute; top: 0; left: 0;  width: 100%; height: 100%;"></div>
<div class="back" style="background: url('http://www.topanimestream.com/ImageHost/{{anime.BackdropPath}}') no-repeat center center;-webkit-background-size: cover; opacity:0.05"></div>
<div class="details" ng-hide="isPlayer">
    <div style="position:fixed; top:50px; background-color:rgba(3, 15, 25, 0.83); z-index:100; width:100%; padding:10px 15px;">
        <ul class="list-inline pull-left" style="margin:0;">
            <li>
                <a ng-click="goBack();" style="cursor:pointer; color:white; text-decoration:none;">
                    <i class="fa fa-chevron-left"></i>&nbsp;Go back
                </a>
            </li>
            <li>{{anime.OriginalName}}&nbsp;&nbsp;•&nbsp;&nbsp;<i class="fa fa-star"></i>&nbsp;&nbsp;{{anime.Rating}}&nbsp;/&nbsp;10&nbsp&nbsp;•&nbsp;&nbsp;<i class="fa fa-users"></i>&nbsp;&nbsp;{{anime.VoteCount}}</li>
        </ul>
        <div class="pull-right" ng-click="browser.open(getAnimeUrl());" style="cursor:pointer;"><i class="fa fa-globe"></i>&nbsp;&nbsp;Website link</div>
        <div class="clearfix"></div>
    </div>
    <div style="margin-left:20px; top:100px; position:fixed;">
        <div style="width:160px;">
            <div style="height:210px; width:160px; overflow:hidden; border-radius:3px; position:relative; background: url('{{anime.PosterPath.formatPosterPath(300)}}') center center no-repeat; background-size:cover;  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);">
            </div>
            <h4 style="border-bottom:thin dashed rgba(0, 0, 0, 0.29); padding-bottom:10px;">{{anime.OriginalName}}</h4>
            <ul class="list-unstyled">
                <li ng-show="anime.AgeRating">
                    <div style="margin-bottom:3px;">Age rating</div>
                    <div style="color:#a5a5a5; font-size:12px;">{{anime.AgeRating.Name}} | {{anime.AgeRating.Description}}</div>
                </li>
                <li ng-show="anime.Status" style="margin-top:8px;">
                    <div style="margin-bottom:3px;">Status</div>
                    <div style="color:#a5a5a5; font-size:12px;">{{anime.Status.Name}}</div>
                </li>
            </ul>
        </div>
    </div>
    <div style="position: absolute;overflow: overlay;height: 100%;width: 100%; padding-top: 80px; padding-bottom: 100px;">
        <div style="margin-right:20px; margin-left:200px; max-width:800px;">
            <div class="pull-left">
                <h1 style="color:white;">{{anime.OriginalName}}</h1>
                <ul class="list-inline">
                    <li ng-if="anime.IsMovie == true">
                        <i class="fa fa-film"></i>&nbsp;&nbsp;{{ "MOVIE" | translate }}
                    </li>
                    <li ng-if="anime.IsMovie == false">
                        Serie
                    </li>
                    <li ng-show="anime.RunningTime">
                        <any translate="MINUTES_TIME" translate-value-time="{{anime.RunningTime}}"></any>
                    </li>
                    <li ng-show="anime.ReleasedDate">
                        <any translate="RELEASE_DATE" translate-value-date="{{anime.ReleasedDate.substring(0,4)}}"></any>
                    </li>
                    <li ng-if="anime.IsMovie == false">
                        <any translate="EPISODE_COUNT" translate-value-count="{{anime.EpisodeCount}}"></any>
                    </li>
                    <li>
                        <div class="btn-group btn-group-xs" style="margin-top: 5px;">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pull-right" style="margin-top:20px;">
                <div ng-show="!anime.IsMovie">
                    <div class="btn-group" ng-show="episodes.length > 0">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span>Episode&nbsp;{{selectedEpisode.EpisodeNumber}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="max-height:100px; overflow:auto;">
                                <li ng-repeat="episode in episodes" ng-click="selectEpisode(episode)" style="padding-left:0; cursor:pointer;">
                                    <a style="padding:3px 12px;"><i class="{{source.getFlag()}}"></i>&nbsp;&nbsp;Episode&nbsp;{{episode.EpisodeNumber}}</a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-success" ng-click="playEpisode(selectedEpisode);">{{ "PLAY" | translate }}</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!--<div ng-if="anime.VoteCount > 0">
                    <rating ng-model="anime.Rating" max="10" readonly="true"></rating>
                    <ANY translate="RATING_STARS_VOTECOUNT" translate-value-stars="{{anime.Rating}}" translate-value-votecount="{{anime.VoteCount}}"></ANY>
                </div>-->
            <p s <p s ty <p style=< p style="line-height: 18px;">
                {{anime.getAnimeInformation().getOverview()}}
                <div ng-hide="anime.getAnimeInformation()">{{ "NO_DESCRIPTION" | translate }}</div>
            </p>
            <ul class="list-inline" style="color: #747474; margin-bottom:20px;">
                <li ng- <li ng-repeat="genre in anime.Genres">
                    {{genre.Name.capitalize()}}
                </li>
                <li ng-repeat="theme in anime.Themes">
                    {{theme.Name.capitalize()}}
                </li>
            </ul>
            <div style="margin-bottom:20px;">
                <h4>Availability</h4>
                <div ng-show="audioBusy == true || subtitlesBusy == true"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Checking</div>
                <div style="margin-bottom:5px;">
                    <div class="pull-left">
                        <span ng-show="availableAudio.length > 0"><i class="fa fa-volume-up"></i>&nbsp;Audio</span>
                        <span ng-show="availableAudio.length == 0 && audioBusy == false"><i class="fa fa-volume-up"></i>&nbsp;No audio</span>
                    </div>
                    <ul class="list-inline pull-left" style="margin: 1px 0 0 3px;">
                        <li ng-repeat="language in availableAudio" title="{{language.Name}}">
                            <i class="{{language.getFlag()}}"></i>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <div class="pull-left">
                        <span ng-show="availableSubtitles.length > 0"><i class="fa fa-cc"></i>&nbsp;Subtitles</span>
                        <span ng-show="availableSubtitles.length == 0 && subtitlesBusy == false"><i class="fa fa-cc"></i>&nbsp;No subtitles</span>
                    </div>
                    <ul class="list-inline  pull-left" style="margin: 1px 0 0 3px;">
                        <li ng-repeat="language in availableSubtitles" title="{{language.Name}}">
                            <i class="{{language.getFlag()}}"></i>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div ng-show="!anime.IsMovie">
                <h4>{{ 'Episodes' | translate }}</h4>
                <div ng-show="episodesBusy"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading</div>
                <div ng-show="episodes.length == 0 && episodesBusy == false">No episodes available to watch.</div>
                <ul class="list-unstyled" style="margin-top:20px;">
                    <li ng-repeat="episode in episodes" class="hvr-wobble-horizontal" style="margin:20px 0; display:block;">
                        <div ng-click="playEpisode(episode);" style="cursor:pointer;">
                            <div style="height:55px; width:85px; overflow:hidden; position:relative; background: url('{{episode.ScreenshotHD.formatPosterPath(300)}}') center center no-repeat; background-size:cover; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);" class="pull-left">
                            </div>
                            <div style="padding-left:100px;">
                                <h4 style="margin:0;">Episode {{episode.EpisodeNumber}} - {{episode.getEpisodeInformation().EpisodeName}}</h4>
                                <div style="color:#bfbfbf">{{episode.AiredDate | date:'mediumDate'}}</div>
                                <!--<p ng-bind="episode.getEpisodeInformation().getOverview()" style="max-height:105px; overflow:hidden; color:#959595;"></p>-->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="position: fixed;height: 100px;width: 100%; bottom:0;background-color:rgb(4, 19, 26); box-shadow: rgba(0, 0, 0, 0.49) 0px 0px 5px 1px;
border-top: thin solid #030E14;" ng-show="anime.IsMovie && availableAudio.length > 0">
        <div style="margin-left:200px; margin-top:23px;">
            <div>
                <div style="height:55px; width:85px; overflow:hidden; position:relative; background: url('{{anime.BackdropPath.formatPosterPath(300)}}') center center no-repeat; background-size:cover; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);" class="pull-left"></div>
                <div style="padding-left:100px;">
                    <div class="pull-left">
                        <h4 style="margin:0;">Watch {{anime.OriginalName}}</h4>
                        <div style="color:#bfbfbf; margin-top:5px;">
                            <any translate="MINUTES_TIME" translate-value-time="{{anime.RunningTime}}"></any>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-lg pull-right hvr-pulse" style="margin-right:20px;" ng-click="playMovie();">{{ "PLAY" | translate }}</button>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
<div id="player" ng-show="isPlayer">
    <div class="blue-header">
        <ul class="list-inline" style="margin:0;">
            <li>
                <a ng-click="closePlayer();" style="cursor:pointer; color:white; text-decoration:none;">
                    <i class="fa fa-chevron-left"></i>&nbsp;Go back
                </a>
            </li>
            <li style="color:#cccccc;">
                •&nbsp;&nbsp;{{anime.OriginalName}}
            </li>
        </ul>
    </div>
    <!--<div style="background-color:rgba(0, 0, 0, 0.19); position:fixed; top:50px; bottom:0; padding-top:25px; overflow:overlay; width:250px;" ng-show="!anime.IsMovie">
        <ul id="latest-list" class="list-unstyled" style="margin-top:10px;">
            <li ng-repeat="episode in episodes" ng-class="{'active' : isSelectedEpisode(episode)}" ng-click="playEpisode(episode);" style="border-bottom:thin solid rgba(255, 255, 255, 0.1); cursor:pointer; padding:10px;">
                <div style="color:#e0e0e0; height:55px;">
                    <div style="height:55px; width:85px; overflow:hidden; position:relative; background: url('{{episode.Screenshot.formatPosterPath(300)}}') center center no-repeat; background-size:cover; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);" class="pull-left">
                    </div>
                    <div style="padding-left: 95px;">
                        <h4 style="font-size:13px; margin:0; color:white;"> {{ "EPISODE" | translate }}&nbsp;{{episode.EpisodeNumber}}<br><small style="word-wrap: break-word;">{{episode.EpisodeInformations[0].EpisodeName.trimToLength(30)}}</small></h4>
                    </div>
                </div>
            </li>
        </ul>
    </div>-->
    <div id="div-player">
        <div id="video-player">
        </div>
    </div>
</div>