<div class="container" style="margin-top:67px;">
    <h1 class="page-header" style="margin:20px 0 0 0;">Video <small>Testing</small></h1>
    <h2>Html5 player - Normal</h2>
    <video controls>
        <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
    </video>
    <h2>Html5 player - videojs</h2>
    <video id="player-html5" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto">
        <source src="http://av3.uploadcrazy.net/dl/clannad-after01.mp4?st=pWZRZhLkADdz3CXWpzCkng&e=1418256147" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
    <p>This will throw 'A network error caused the viudeo download to fail part-way'</p>
    <h2>Flash player - videojs</h2>
    <video id="player-flash" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto">
        <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
    </video>
    <p>Hover control is not working. You have to click</p>
    <h2>Flash player - jwplayer</h2>
    <div id="jwplayer-flash">
    </div>
    <div class="spacer" style="height:100px;"></div>
</div>