<div class="modal-header">
    <a class="close" ng-click="cancel()">&times;</a>
    <h3 class="modal-title">{{ 'RELEASE_NOTES' | translate}}</h3> 
    <div class="text-muted" style="margin-top:5px;">1 release</a>
    </div>
</div>
<div class="modal-body">
    <div id="v001">
        <strong class="pull-left">0.0.1</strong>
        <ul style="margin-left:24px;">
            <li>Watch animes from TopAnimeStream on Windows, Mac or Linux.</li>
            <li>First BETA public release of TopAnimeStream App.</li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm pull-left" ng-click="cancel()">{{ 'GO_BACK' | translate }}</button>
    <div class="clearfix"></div>
</div>

