<div class="modal-header">
    <a class="close" ng-click="cancel()">&times;</a>
    <h3 class="modal-title">{{ 'RELEASE_NOTES' | translate}}</h3> 
    <div class="text-muted" style="margin-top:5px;">2 releases</a>
    </div>
</div>
<div class="modal-body" style="overflow:auto; max-height:400px;">
    <div id="v100" style="margin-bottom:10px;">
        <strong>Version 1.0.0</strong>
        <div class="text-muted">TBA</div>
        <ul style="margin:7px 0; padding:0 15px;">
            <li>TopAnimeStream is working with a completly new high quality streaming service. (No more mirrors)</li>
            <li>Choice of 360p to 1080p anime quality.</li>
            <li>The app is now really working on Mac & Linux.</li>
            <li>Continue watching list and user list available.</li>
            <li>Soft subs. (You can choose to display or hide subtitles)</li>
            <li>New home page updated daily.</li>
            <li>New settings page (customize your preferences)</li>
            <li>All major bug fix.</li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div id="v001">
        <strong>Version 0.0.1</strong>
        <div class="text-muted">4/12/2014</div>
        <ul style="margin:7px 0; padding:0 15px;">
            <li>Watch animes from TopAnimeStream on Windows, Mac or Linux.</li>
            <li>First BETA public release of TopAnimeStream App.</li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm pull-left" ng-click="cancel()">{{ 'GO_BACK' | translate }}</button>
    <div class="clearfix"></div>
</div>

